.black_overlay{
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);
    }
    .white_content {
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        padding: 16px;
        border: 16px solid #243140;
        background-color: white;
        z-index:1002;
        overflow: auto;
    }
    .offer1 {
        width: 100%;
        font-size: 48px; /* PIXEL FALLBACK */
        font-size: 4.8rem;
        color: #888888;
        padding: 2% 0;
        margin: 20px 0px 0px 0px;
        text-align: center;
        position: relative;
    }
    .offer2 {
        width: 100%;
        font-size: 19px; /* PIXEL FALLBACK */
        font-size: 1.9rem;
        color: #888888;
        margin: 20px 0px 0px 0px;
        text-align: center;
        position: relative;
    }
    .offer3 {
        font-size: 19px; /* PIXEL FALLBACK */
        font-size: 1.9rem;
        color: #888888;
        margin: 20px 0px 0px 0px;
        text-align: left;
        position: relative;
    }
    #signatureparent {
        color:darkblue;
    }

    #signature {
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        border: 2px solid #585858;
        background-color:#484848;
    }

    .jSignature {
        max-width:948px!important;
        position: relative;
        height: 84px;
        align-content: center;
    }